<h1>Angular Router</h1>
<nav>
  <!--
  a标签上的RouterLink指令让路由器得以控制这个a元素。
  这里的导航路径是固定的，因此可以把一个字符串赋给routerLink（“一次性”绑定）。

  如果需要更加动态的导航路径，那就把它绑定到一个返回链接参数数组的模板表达式。
  路由器会把这个数组解析成完整的URL。

  每个a标签上的RouterLinkActive指令可以帮用户在外观上区分出当前选中的“活动”路由。
  当与它关联的RouterLink被激活时，路由器会把CSS类active添加到这个元素上。
  我们可以把该指令添加到a元素或它的父元素上。

  -->
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <!--
  虽然compose路由被钉死在了popup出口上，但这仍然不足以向RouterLink指令表明要加载该路由。
  我们还要在链接参数数组中指定这个命名出口，并通过属性绑定的形式把它绑定到RouterLink上。

  链接参数数组包含一个只有一个outlets属性的对象，
  它的值是另一个对象，这个对象以一个或多个路由的出口名作为属性名。
  在这里，它只有一个出口名“popup”，它的值则是另一个链接参数数组，用于指定compose路由。

  意思是，当用户点击此链接时，在路由出口popup中显示与compose路由相关联的组件。

  当有且只有一个无名出口时，外部对象中的这个outlets对象并不是必须的。

  路由器假设这个路由指向了无名的主出口，并为我们创建这些对象。

  当路由到一个命名出口时，我们就会发现一个以前被隐藏的真相： 我们可以在同一个RouterLink指令中为多个路由出口指定多个路由。

  这里我们实际上没能这样做。要想指向命名出口，我们就得使用一种更强大也更啰嗦的语法。

  第二路由导航：在导航期间合并路由
  导航到危机中心并点击“Contact”，我们将会在浏览器的地址栏看到如下URL：
  http://.../crisis-center(popup:compose)
  这个URL中有意思的部分是...后面的这些：crisis-center是主导航。
  #1 圆括号包裹的部分是第二路由。
  #2 第二路由包括一个出口名称（popup）、一个冒号分隔符和第二路由的路径（compose）。

  点击Heroes链接，并再次查看URL：
  http://.../heroes(popup:compose)

  主导航的部分变化了，而第二路由没有变。
  路由器在导航树中对两个独立的分支保持追踪，并在URL中对这棵树进行表达。
  我们还可以添加更多出口和更多路由（无论是在顶层还是在嵌套的子层）来创建一个带有多个分支的导航树。
  路由器将会生成相应的URL。
  通过像前面那样填充outlets对象，我们可以告诉路由器立即导航到一棵完整的树。
  然后把这个对象通过一个链接参数数组传给router.navigate方法。

  清除第二路由
  正如我们刚刚学到的，除非导航到新的组件，否则路由出口中的组件会始终存在。 这里涉及到的第二出口也同样如此。
  每个第二出口都有自己独立的导航，跟主出口的导航彼此独立。
  修改主出口中的当前路由并不会影响到popup出口中的。
  这就是为什么在危机中心和英雄管理之间导航时，弹出框始终都是可见的。
  点击“send”或“cancel”按钮，则会清除弹出框视图。 为何如此？我们再来看看closePopup()方法：
  this.router.navigate([{ outlets: { popup: null }}]);
  它使用Router.navigate()方法进行强制导航，并传入了一个链接参数数组。
  就像在AppComponent中绑定到的Contact RouterLink一样，它也包含了一个带outlets属性的对象。
  outlets属性的值是另一个对象，该对象用一些出口名称作为属性名。 唯一的命名出口是'popup'。
  但这次，'popup'的值是null。
  null不是一个路由，但却是一个合法的值。
  把popup这个RouterOutlet设置为null会清除该出口，并且从当前URL中移除第二路由popup。
  -->
  <a [routerLink]="[{outlets:{popup:['compose']}}]">Contact</a>
</nav>

<!--
routerLink 绑定
在出口上方的A标签中，有一个绑定RouterLink指令的属性绑定，就像这样：routerLink="..."。
我们从路由库中导入了RouterLink。
例子中的每个链接都有一个字符串型的路径，也就是我们以前配置过的路由路径，但还没有指定路由参数。

我们还可以通过提供查询字符串参数为RouterLink提供更多情境信息，
或提供一个URL片段（Fragment或hash）来跳转到本页面中的其它区域。
查询字符串可以由[queryParams]绑定来提供，
它需要一个对象型参数（如{ name: 'value' }），
而URL片段需要一个绑定到[fragment]的单一值。

routerLinkActive绑定
每个A标签还有一个到RouterLinkActive指令的属性绑定，就像routerLinkActive="..."。
等号（=）右侧的模板表达式包含用空格分隔的一些CSS类。
当路由激活时路由器就会把它们添加到此链接上（反之则移除）。
我们还可以把RouterLinkActive指令绑定到一个CSS类组成的数组，如[routerLinkActive]="['...']"。

RouterLinkActive指令会基于当前的RouterState对象来为激活的RouterLink切换CSS类。
这会一直沿着路由树往下进行级联处理，所以父路由链接和子路由链接可能会同时激活。
要改变这种行为，可以把[routerLinkActiveOptions]绑定到{exact: true}表达式。
如果使用了{ exact: true }，那么只有在其URL与当前URL精确匹配时才会激活指定的RouterLink。
-->

<!--
RouterOutlet 指令
RouterOutlet是一个来自路由库的组件。 路由器会在<router-outlet>标签中显示视图。
一个模板中只能有一个未命名的<router-outlet>。
但路由器可以支持多个命名的出口（outlet），将来我们会涉及到这部分特性。
-->
<router-outlet></router-outlet>

<!--
用命名出口（outlet）显示多重路由
我们决定给用户提供一种方式来联系危机中心。
当用户点击“Contact”按钮时，我们要在一个弹出框中显示一条消息。

即使在应用中的不同页面之间切换，这个弹出框也应该始终保持打开状态，直到用户发送了消息或者手动取消。
显然，我们不能把这个弹出框跟其它页面放到同一个路由出口中。

迄今为止，我们只定义过单路由出口，并且在其中嵌套了子路由以便对路由分组。
在每个模板中，路由器只能支持一个无名主路由出口。

模板还可以有多个命名的路由出口。
每个命名出口都自己有一组带组件的路由。
多重出口可以在同一时间根据不同的路由来显示不同的内容。

第二路由
命名出口是第二路由的目标。
第二路由很像主路由，配置方式也一样。它们只有一些关键的不同点：
#1 它们彼此互不依赖。它们与其它路由组合使用。
#2 它们显示在命名出口中。
-->
<router-outlet name="popup"></router-outlet>
