<app-bind-two></app-bind-two>

<p
  style="background-color: #b71c1c;width: 100%;color: white;text-align: center;padding-top: 10px;padding-bottom: 10px;">
  分割线</p>

<app-bind-css></app-bind-css>

<p
  style="background-color: #b71c1c;width: 100%;color: white;text-align: center;padding-top: 10px;padding-bottom: 10px;">
  分割线</p>

<app-bind-html></app-bind-html>

<p
  style="background-color: #b71c1c;width: 100%;color: white;text-align: center;padding-top: 10px;padding-bottom: 10px;">
  分割线</p>

<div>
  <app-bind></app-bind>
</div>
