<a id="top"></a>
<h1>Component Lifecycle Hooks</h1>

<a href="#hooks">Peek-a-boo: (most) lifecycle hooks</a><br>
<a href="#spy">Spy: directive with OnInit & OnDestroy</a><br>
<a href="#onchanges">OnChanges</a><br>
<a href="#docheck">DoCheck</a><br>
<a href="#after-view">AfterViewInit & AfterViewChecked</a><br>
<a href="#after-content">AfterContentInit & AfterContentChecked</a><br>

<a id="hooks"></a>
<app-peek-a-boo-parent></app-peek-a-boo-parent>
<a href="#top">back to top</a>

<a id="spy"></a>
<app-spy></app-spy>
<a href="#top">back to top</a>

<a id="onchanges"></a>
<app-on-changes-parent></app-on-changes-parent>
<a href="#top">back to top</a>

<a id="docheck"></a>
<app-do-check-parent></app-do-check-parent>
<a href="#top">back to top</a>

<a id="after-view"></a>
<app-after-view-parent></app-after-view-parent>
<a href="#top">back to top</a>

<a id="after-content"></a>
<app-after-content-parent></app-after-content-parent>
<a href="#top">back to top</a>
