
<!-- formControl不能在formGroup内部使用，只能在其外部使用；
 如果需要在formGroup里面使用formControl的话必须得使用其formControlName进行绑定！-->
<input type="text" [formControl]="username" >

<form [formGroup]="formModel" (submit)="onSubmit()">

  <div formGroupName="dateRange">
    <div>
      起始日期：<input type="date" formControlName="from">
    </div>
    <div>
      结束日期：<input type="date" formControlName="to">
    </div>
  </div>

  <div>
    手机号：<input type="text" formControlName="phone">
  </div>

  <div>
    <ul formArrayName="emails">
      <li *ngFor="let e of this.formModel.get('emails').controls;let i = index;">
        <input type="text" [formControlName]="i">
      </li>
    </ul>
    <button type="button" (click)="addEmail()">增加Email</button>
  </div>

  <div>
    <button type="submit">保存</button>
  </div>

</form>
